body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* ------- Header------------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.header a {
  display: block;
  padding: 24px 0;
}

.header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.accent {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item {
}
.nav-link {
  color: #2e2f42;
}
.nav-link:focus,
.nav-link:active,
.nav-link:hover {
  color: #404bbf;
}
.nav-cont {
  margin-left: auto;
}
.nav-cont-list {
  display: flex;
  gap: 40px;
}
.nav-cont-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-cont-link:hover,
.nav-cont-link:active,
.nav-cont-link:focus {
  color: #404bbf;
}
/* -------------------------*/

/* --------Main-----------------*/
/* ---------EFECTIVE SOLUTIONS----------*/
.main-sec {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
}
.main-btn {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: auto;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
}

/* -------------------------*/
/* ----------QUALITIES---------------*/
.qual-sec {
  padding: 120px 0;
}

.qual-container {
  /* padding: 120px 0; */
}

.qual-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  gap: 24px;
  /* padding: 120px 0; */
}

.qual-item {
  width: calc((100% - 3 * 24px) / 4);
  margin: 0 auto;
}

.qual-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.qual-text {
}

/* -------------------------*/
/* ----------OUR TEAM---------------*/

.team-sec {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-sec div {
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-item {
  background: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-list-text {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.taem-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-img {
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -------------------------*/
/* ----------PORTFOLIO---------------*/

.portf-sec {
  margin: 0 auto;
  padding: 120px 0 120px 0;
}

.portf-container {
  border-top: none;
}

.portf-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portf-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portf-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portf-container ul > li {
  width: calc((100% - 48px) / 3);
}

.portf-item {
  width: calc((100% - 48px) / 3);
}

.portf-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -------------------------*/
/* --------FOOTER-----------------*/
.footer-page {
  background-color: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
}

.footer-page a {
  display: inline-block;
  margin-bottom: 16px;
}

.logo {
  display: block;
}

.footer-page span {
  color: #f4f4fd;
}
.footer-page .logo {
  margin-right: 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* -------------------------*/
